<IfModule mod_rewrite.c>
    RewriteEngine On

    # If someone types the URL without 
/public/, silently route them inside
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

